<div class="flickr2-error">
    <h3>FLICKR ERROR!</h3>
    <p class="message">{{ message }}</p>
    {% if details %}
    <p class="details">Object ID: {{ details.id }}<br />Message: {{ details.error }}</p>
    {% endif %}
</div>
